/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body{
  position: relative;
}

/* 00000000 HEADER 00000000 */
header {
  width: 90%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

header .btn-container {
  text-decoration: none;
  margin-right: 20px;
}

#upgrade-btn {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 28px;
  border: 2px solid white;
  border-radius: 50px;
}

/* 00000000 CONTAINER - header ~ aside ~ main 00000000 */
body > .container {
  display: flex;
}

/* 00000000 ASIDE 00000000 */
aside {
  width: 10%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(28, 28, 30);
  padding: 10px 0;
}

aside .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .item {
  margin-bottom: 10px;
}

#logo {
  margin-bottom: 20px;
}

#logo img {
  width: 32px;
}

aside .item img {
  width: 30px;
}

#download img {
  width: 20px;
}

#user {
  margin-bottom: 0;
}

#user i{
  font-size: 30px;
  color: white;
}

/* 00000000 MAIN 00000000 */
main {
  width: 90%;
  height: calc(100vh - 90px);
  overflow-x: scroll;
  background-color: sandybrown;
  padding-top: 10vh;
}

/* 00000000 FOOTER 000000000 */
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: slateblue;
}