/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body{
  position: relative;
}

/* 00000000 HEADER 00000000 */
header {
  width: calc(100% - 42px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

header .btn-container {
  text-decoration: none;
  margin-right: 10px;
}

#upgrade-btn {
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 24px;
  border: 1px solid white;
  border-radius: 50px;
}

/* 00000000 CONTAINER - header ~ aside ~ main 00000000 */
body > .container {
  display: flex;
}

/* 00000000 ASIDE 00000000 */
aside {
  width: 42px;
  height: calc(100vh - 90px);
  background-color: rgba(0, 0, 0, 1);
  padding: 10px 0;
}

aside .container {
  height: calc(100% - 57px);
  display: flex;
  flex-direction: column;
}

aside .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .box:nth-of-type(4) {
  height: 90px;
}

aside .overflow-container {
  height: calc(100% - 206px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overflow-container .box.library {
  height: calc(100% - 90px);
}

#logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#logo img {
  width: 32px;
}

#logo img:nth-child(2) {
  display: none;
}

aside .item {
  width: 80%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  border-radius: 5px;
}

aside .item img {
  width: 30px;
}

aside .item h5 {
  display: none;
}

/* ASIDE - download ~ user section */
#download img {
  width: 20px;
}

#user {
  margin-bottom: 0;
}

#user img {
  height: 30px;
  border-radius: 50%;
}

#user h4 {
  display: none;
}

#library {
  display: none;
}

/* 00000000 MAIN 00000000 */
main {
  width: calc(100% - 42px);
  height: calc(100vh - 90px);
  overflow-x: scroll;
  background-color: rgb(20, 25, 34);
  padding: 90px 20px 10px;
}

/* MAIN - categories section */
#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#categories li {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  color: rgba(121, 123, 128, 1);
  padding: 5px;
  margin: 10px 4px;
  border-radius: 5px;
}

/* MAIN - sections */
section.container h2 {
  font-size: 26px;
  color: white;
  margin: 10px 0 20px;
}

.playlist-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.playlist {
  width: calc(100% / 2);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 2px;
  border-radius: 6px;
}

.playlist img {
  width: 100%;
  border-radius: 6px;
}

.playlist h4 {
  text-align: center;
  line-height: 16px;
  color: white;
  margin: 10px 0 4px;
}

section.container span {
  text-align: center;
  font-size: 12px;
  color: rgba(121, 123, 128, 1);
}

/* MAIN - madefor section */
.playlist h3 {
  text-align: center;
  color: white;
  margin: 10px 0 4px;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.title-container h2.no-margin {
  margin-bottom: 0px;
}

.container .title-container span {
  text-align: initial;
  margin-bottom: 10px;
}

/* MAIN - popular section */
.playlist img.artist {
  width: 80%;
  margin: 10px 0;
  border-radius: 50%;
}

/* 00000000 FOOTER 000000000 */
footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color:rgba(40, 40, 40, 1);
  padding: 10px;
}

/* FOOTER - song section */
#song {
  width: 30%;
  display: flex;
}

#song img {
  width: 30px;
  margin-right: 8px;
}

.song-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.song-info h6 {
  height: 10px;
  max-width: 100%;
  line-height: 10px;
  color: white;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.song-info span {
  height: 10px;
  max-width: 100%;
  line-height: 10px;
  font-size: 8px;
  font-weight: 700;
  color: rgba(121, 123, 128, 1);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.song-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.song-icon i {
  font-size: 13px;
}

/* FOOTER - play section */
#play {
  width: 40%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#play ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#play li {
  display: flex;
  list-style: none;
  padding: 2px;
  color: white;
}

#play-icon {
  font-size: 24px;
}

.time {
  font-size: 8px;
  letter-spacing: 1px;
}

.time-bar {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: rgba(90, 90, 90, 1);
  margin: 0 4px;
}

/* FOOTER - volume section */
#volume {
  width: 30%;
  padding-left: 10px;
}

#volume ul {
  display: flex;
  align-items: center;
}

#volume li {
  display: flex;
  list-style: none;
  padding: 1px;
}

#volume li i {
  font-size: 13px;
  color: white;
  margin-left: 4px;
}

/* MEDIA QUERY size S */
@media screen and (min-width: 481px) {
  
  /* 00000000 HEADER S 00000000 */
  header {
    width: calc(100% - 192px);
  }

  /* 00000000 ASIDE S 00000000 */
  aside {
    width: 192px;
    padding: 10px 20px;
  }

  #logo img:nth-child(1) {
    display: none;
  }

  #logo img:nth-child(2) {
    display: block;
    width: 140px;
  }

  aside .container {
    height: calc(100% - 61.97px);
  }

  aside .box {
    align-items: flex-start;
  }

  aside .item {
    width: 100%;
    justify-content: flex-start;
    align-items: center;

  }

  aside .item h5 {
    display: block;
    color: rgba(90, 90, 90, 1);
    margin-left: 10px;
  }

  /* library section S */
  .library {
    width: 100%;
    display: block;
  }

  .library h3 {
    color: white;
    margin: 10px 0 5px;
  }

  .library ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .library ul li {
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
    color: rgba(90, 90, 90, 1);
  }

  #create-pl {
    height: 34px;
    display: flex;
    align-items: center;
    color: rgba(90, 90, 90, 1);
  }

  #create-pl i {
    font-size: 18px;
    margin-right: 8px;
  }

  /* donwload ~ user section S */
  #download img {
    width: 24px;
  }
  
  #user h4 {
    display: block;
    color: white;
    margin-left: 8px;
  }

  /* 00000000 MAIN S 00000000 */
  main {
    width: calc(100% - 192px);
  }
}

/* MEDIA QUERY size MD */
@media screen and (min-width: 769px) {
  .playlist {
    width: calc(100% / 4);
  }
}

/* MEDIA QUERY size LG */
@media screen and (min-width: 1025px) {

  /* MAIN - played section */
  .playlist-container {
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .playlist {
    min-width: 200px;
  }

  .playlist h4 {
    line-height: 14px;
    font-size: 12px;
  }
  
  section.container span {
    text-align: center;
    font-size: 10px;
    color: rgba(121, 123, 128, 1);
  }

  /* MAIN - madefor section */
  .playlist h3 {
    font-size: 16px;
  }

  /* FOOTER - volume section */
  #volume {
    padding-left: 30px;
  }
}