/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body{
  position: relative;
}

/* 00000000 HEADER 00000000 */
header {
  width: 90%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

header .btn-container {
  text-decoration: none;
  margin-right: 10px;
}

#upgrade-btn {
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 24px;
  border: 1px solid white;
  border-radius: 50px;
}

/* 00000000 CONTAINER - header ~ aside ~ main 00000000 */
body > .container {
  display: flex;
}

/* 00000000 ASIDE 00000000 */
aside {
  width: 10%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
  padding: 10px 0;
}

aside .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .item {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 2px 0;
  margin-bottom: 10px;
  border-radius: 5px;
}

#logo {
  margin-bottom: 20px;
}

#logo img {
  width: 32px;
}

aside .item img {
  width: 30px;
}

#download img {
  width: 20px;
}

#user {
  margin-bottom: 0;
}

#user i{
  font-size: 30px;
  color: white;
}

/* 00000000 MAIN 00000000 */
main {
  width: 90%;
  height: calc(100vh - 90px);
  overflow-x: scroll;
  background-color: rgb(20, 25, 34);
  padding: 90px 20px 0;
}

/* MAIN - categories section */
#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#categories li {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  color: rgba(121, 123, 128, 1);
  padding: 5px;
  margin: 10px 2px;
  border-radius: 5px;
}

/* MAIN - played section */
#played h1 {
  font-size: 26px;
  color: white;
  margin: 10px 0 20px;
}

#playlist-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.playlist {
  width: calc(100% / 2 - 5px);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 10px;
}

.playlist img {
  width: 100%;
}

.playlist h4 {
  text-align: center;
  line-height: 16px;
  color: white;
  margin: 10px 0 4px;
}

.playlist span {
  font-size: 12px;
  color: rgba(121, 123, 128, 1);
}



/* 00000000 FOOTER 000000000 */
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: slateblue;
}